.banner {
	background: url(../img/swb1.jpg) no-repeat;
	width: 1000px;
	height: 400px;
	clear: left;
margin-top: 10px;
	}

	.banner h3{
		color: white;
		margin: 306px;
	}


header h1 {
	width: 174px;
	height: 23px;
	margin:10px 10px 22px;
	float: left;
	font-family: sans-serif;
}
blockquote{
	position: relative;
}

.sub-menu{
	margin-top:500px;

}
.sub1{
	background: url(../img/challange.jpg) no-repeat;
	width: 300px;
	height: 300px;

}
.sub2{
	background: url(../img/sb.jpg) no-repeat;
	width: 300px;
	height: 300px;

}
.sub3{
	background: url(../img/modi.jpg) no-repeat;
	width: 300px;
	height: 300px;

}
.sub-main{
	background: url(../img/gandhi-ji.jpg) no-repeat;
	width: 1000px;
	height: 693px;
}
p{
	font-size: 13px;
	line-height: 20px;
	color: #353535;
}

blockquote,blockquote p {
	font-size: 15px;
	line-height: 20px;
	font-style: italic;
	color:#0e0e0e;
}


.main{
	margin-top: 840px;
}
.main blockquote p:before,
.main blockquote p:after{
	font-size: 40px;
	color:#bfbfbf;
	font-style: italic;
}


.main blockquote p{
	padding-left: 30px;
}

.main blockquote p:first-child:before{
	content: '“';
	position:absolute;
	top: 7px;
	left: 0;
	}

.main blockquote p:last-child:after{
	content: '”';
	float: right;
	position: absolute;
	bottom: -7px;
	right: 0;

}

.social-media{
	    margin-top: -15px;
	    clear: both;
		  float: right;
}

h1,h2{
	letter-spacing: -1px;
}
h2{
	font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin:10px 10px;
    color: #333;
}
nav li,footer li {
	display: inline;
}
nav{
	float: right;
	padding-top: 12px
}

a{
	color: #7e7e7e;
	text-decoration: none;
}
a:hover, .selected{
	color: black;
}

hr {
    height: 12px;
    border: 0;
		margin-top: 10px;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.sub-main h3{
	margin-top: 600px;
	margin-left: 500px;
}
footer ul p{
	float:left;
	clear:right;
}
