.banner {
	background: url(../img/swb1.jpg) no-repeat;
	width: 900px;
	height: 300px;
	clear: left;

	}

	.banner h3{
		color: white;
		margin: 236px;
	}

.callout{
	background: url(../img/images.jpg) no-repeat;
	height: 669px;
}

header h1 {
	width: 174px;
	height: 23px;
	margin:10px 10px 22px;
	float: left;
	font-family: sans-serif;
}



p{
	font-size: 13px;
	line-height: 20px;
	color: #353535;
}

blockquote,blockquote p {
	font-size: 15px;
	line-height: 20px;
	font-style: italic;
	color:#0e0e0e;
}

.social-media{
float: right;
}

.main{
	margin-top: 380px;
}
.main blockquote p:before,
.main blockquote p:after{
	font-size: 40px;
	color:#bfbfbf;
	font-style: italic;


}
blockquote{
	position: relative;
}

.main blockquote p{
	padding-left: 30px;
}

.main blockquote p:first-child:before{
	content: '“';
	position:absolute;
	top: 7px;
	left: 0;
	}

.main blockquote p:last-child:after{
	content: '”';
	float: right;
	position: absolute;
	bottom: -7px;
	right: 0;

}

h1,h2{
	letter-spacing: -1px;
}
h2{
	font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin:10px 10px;
    color: #333;
}

footer{
	margin-top: 50px;
	clear: both;
}

nav li,footer li {
	display: inline;
}
nav{
	float: right;
	padding-top: 12px
}

a{
	color: #7e7e7e;
	text-decoration: none;
}
a:hover, .selected{
	color: black;
}
